@mixin btn-primary() {
  padding: 15px 40px;
  background-color: $btnColor;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-weight: 600;
  &:hover {
    opacity: 0.8;
  }
}

@mixin responsive-sm() {
  @media screen and (max-width: 786px) {
    @content; 
  }
}