main {
  text-align: center;
  color: $sectionFont;

  h2 {
    padding-top: 50px;
    font-size: 26px;
    font-weight: 400;
  }
  p {
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 18px;
  }

  .features {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include responsive-sm() {
      flex-direction: column;
    }

    &__card {
      padding: 30px 0;
      h3 {
        font-size: 22px;
        font-weight: 400;
      }

      p {
        font-size: 16px;
      }
    }
  }
} 